*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    
}

body{
    margin: 0;
}

.first-section{
    background-color: #1f2937;
    color: #ffffff;
    
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    flex-wrap: wrap;
    font-weight: 900;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;    
}

a{
    text-decoration: none;
    color: #ffffff;
}

ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul, .secondary-text, .footer{
    font-size: 18px;
}

.secondary-text-first,
.fourth-subtext{
    color: #e2e7eb;
    
}

.left-header,
.fourth-header{
    font-size: 24px;
    color: #f9faf8;
}


.first-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 52px;
    
    
}

.main-title,
.secondary-text,
.secondary-text-2,
.author{
    padding-bottom: 8px;
}

.main-title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main-content{
    width: 500px;
}

.sign-up{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 12px;
    min-width: 65px;
    width: 65px;
    border-radius: 10px;
    text-align: center;
}

.first-image{
    flex-wrap:nowrap;
    width: 200px;
    height: auto;
}

.second-section{
    display: flex;
    flex-direction: column;
    
    height: 80vh;
}

.second-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
}
.second-title{
    font-size: 36px;
    font-weight:bolder;
    color:#1f2937;
}

.second-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.item{
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.secondary-text-2{
    display: flex;
    justify-content: center;
    width: 200;
    margin: 0;
    padding: 0;
    color: grey;
}

.third-section{
    background-color: #e2e7eb;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.third-container{
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.author-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.author{
    margin-right: 20px;
    font-size: 18px;
    color: #1f2937;
    font-weight: 900;
}

.fourth-section{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 50vh;
    flex-direction: column;

}

.fourth-container{
    background-color: #3882f6;
    width: 100vh;
    height: 125px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fourth-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 10%;
    width: 50%;
}

.fourth-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    padding: 12px;
    
}

.fourth-header{
    font-weight: bolder;
    margin-bottom: 5px;
}

.footer{
    background-color:#1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    color:#e2e7eb;
}

.fourth-section .sign-up{
    border: 1px solid white;
  }
  



